<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>editar-hobby</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Editar Hobbies</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-list *ngIf="hobbies.length > 0; else elseBlock">
    <ion-item
      style="display: flex; width: 100%; justify-content: space-between"
      *ngFor="let hobby of hobbies"
    >
      <p style="flex: 1">{{ hobby.title }}</p>
      <ion-button color="danger" (click)="deleteHobby(hobby.title)"
        >Eliminar</ion-button
      >
    </ion-item>
  </ion-list>
  <ng-template #elseBlock>
    <p style="display: block; text-align: center">
      No hay hobbies creados aún!
    </p>
  </ng-template>
</ion-content>
